body {
   
    background-color: aquamarine;
}

.container{
    display: grid;
    justify-content: center;
    place-items: center;
    align-items:baseline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}

div{
  background-color: blueviolet;
  border-radius: 10%;
  border: 5px 5px 5px 5px black;
  box-shadow: 50px black;
  height: 25rem ;
  width: 25rem;
}
footer{
    display:grid;
    position: absolute;
    bottom: 4%;
    
}